.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.header{
    font-size: 30px;
    margin-bottom: 30px;
}

.text1{
    font-size: 20px;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    margin-bottom: 30px;
    font-family: Girloy-light;
    line-height: 20px;
}

.questions {
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px solid #000;
    width: 70%;
    padding-bottom: 30px;
}

.tablePhoto{
    width: 100%;
}
.photo1{
    content: url("../../assets/pictures/developers/Mine.jpg");
    width: 200px;
    display: inline-block;
}

.photo2{
    content: url("../../assets/pictures/developers/Ilya.jfif");
    width: 200px;
    display: inline-block;
}