.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.header{
    font-size: 30px;
    margin-bottom: 30px;
}

.text1{
    font-size: 20px;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    margin-bottom: 30px;
    font-family: Girloy-light;
    line-height: 20px;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.questions {
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px solid #000;
    width: 70%;
    padding-bottom: 30px;
}

.photo{
    width: 200px;
    display: inline-block;
}

@media screen and (max-width: 1150px) {
    .contacts{
        flex-direction: column;
        height: 700px;
        width: 850px;
    }
}
@media screen and (max-width: 1050px) {
    .contacts{
        width: 800px;
    }
}
@media screen and (max-width: 950px) {
    .contacts{
        width: 700px;
    }
}
@media screen and (max-width: 850px) {
    .contacts{
        width: 600px;
    }
}
@media screen and (max-width: 750px) {
    .contacts{
        width: 500px;
    }
}
@media screen and (max-width: 700px) {
    .questions {
        border-left: none;
        padding-left: 10px;
    }
    .text2, .text1 {
        width: 500px;
    }
    .contacts{
        width: 700px;
    }
}
@media screen and (max-width: 600px) {
    .contacts{
        width: 550px;
    }
}
@media screen and (max-width: 500px) {
    .contacts{
        width: 450px;
    }
}
@media screen and (max-width: 450px) {
    .contacts{
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .contacts{
        width: 300px;
    }
}