.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
}

.questionPad{
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px solid #000;
    width: 70%;
    padding-bottom: 30px;
}

.header{
    font-size: 30px;
    margin-bottom: 30px;
    word-break: break-all;
}

.questionForm{
    border-radius: 5px;
    background: #FEF9C7;
    width: 100%;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 2%;
    margin-bottom: 30px;
}

.desc{
    font-size: 15px;
    white-space: pre-wrap;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 30px;
    word-break: break-all;
}

.imgSmall{
    width: 100px;
    cursor: pointer;
}
.fileInpCont {
    margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
    .questionForm {
        width: 800px;
    }
    .txtAreaCont {
        width: 800px;
    }
    .fileInpCont {
        width: 800px;
    }
    .header {
        width: 800px;
    }
}

@media screen and (max-width: 1100px) {
    .questionForm {
        width: 700px;
    }
    .txtAreaCont {
        width: 700px;
    }
    .fileInpCont {
        width: 700px;
    }
    .header {
        width: 700px;
    }
}

@media screen and (max-width: 1000px) {
    .questionForm {
        width: 600px;
    }
    .txtAreaCont {
        width: 600px;
    }
    .fileInpCont {
        width: 600px;
    }
    .header {
        width: 600px;
    }
}
@media screen and (max-width: 900px) {
    .questionForm {
        width: 500px;
    }
    .txtAreaCont {
        width: 500px;
    }
    .fileInpCont {
        width: 500px;
    }
    .header {
        width: 500px;
    }
}
@media screen and (max-width: 800px) {
    .questionForm {
        width: 400px;
    }
    .txtAreaCont {
        width: 400px;
    }
    .fileInpCont {
        width: 400px;
    }
    .header {
        width: 400px;
    }
}
@media screen and (max-width: 700px) {
    .questionPad{
        border-left: none;
        padding-left: 10px;
    }
    .questionForm {
        width: 550px;
    }
    .txtAreaCont {
        width: 550px;
    }
    .header {
        width: 550px;
    }
}
@media screen and (max-width: 600px) {
    .questionForm {
        width: 450px;
    }
    .txtAreaCont {
        width: 450px;
    }
    .fileInpCont {
        width: 450px;
    }
    .header {
        width: 450px;
    }
}
@media screen and (max-width: 500px) {
    .desc {
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
    .questionForm {
        width: 400px;
    }
    .txtAreaCont {
        width: 400px;
    }
    .fileInpCont {
        width: 400px;
    }
    .header {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .questionForm {
        width: 350px;
    }
    .txtAreaCont {
        width: 350px;
    }
    .fileInpCont {
        width: 350px;
    }
    .header {
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .questionForm {
        width: 300px;
    }
    .txtAreaCont {
        width: 300px;
    }
    .fileInpCont {
        width: 300px;
    }
    .header {
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .questionForm {
        width: 300px;
    }
    .txtAreaCont {
        width: 300px;
    }
    .fileInpCont {
        width: 300px;
    }
    .header{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .header {
        width: 300px;
    }
}
@media screen and (max-width: 330px) {
    .questionForm {
        width: 270px;
    }
    .txtAreaCont {
        width: 270px;
    }
    .fileInpCont {
        width: 270px;
    }
    .header {
        width: 270px;
    }
}