.containerHeader{
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    background: #222;
    min-height: 60px;
    z-index: 2;
}

.logo{
    display: inline-block;
    content: url("../../assets/pictures/logos/logo-light.png");
    width: 60px;
    float: left;
    cursor: pointer;
}

.logo:hover{
    content: url("../../assets/pictures/logos/logo-dark.png");

}
.burgerContainer {
    display: none;
}
.lupa{
    position: absolute;
    content: url("../../assets/pictures/sprites/lupa.png");
    width: 30px;
    top:7px;
    left: 7px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto 0 auto;
}
.userAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.containerInput{
    display: inline-block;
    position: relative;
    width: 400px;

}
.userInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.userNickname {
    font-size: 16px;
    color: white;
    margin: 0 5px 0 5px;
}   
.trianglePassive {
    cursor: pointer;
    margin-top: 10px;
    border: 10px solid transparent;
    border-top: 10px solid white;
    transform: rotate(360deg);
    transition: 200ms;
}
.triangleActive {
    cursor: pointer;
    margin-top: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    transition: 200ms;
}
@media screen and (max-width: 1410px) {
    .container {
        width: 1200px;
    }
}
@media screen and (max-width: 1300px) {
    .container {
        width: 1000px;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        width: 700px;
    }
}
@media screen and (max-width: 700px) {
    .btnCont {
        display: none;
    }
    .burgerContainer {
        display: block;
    }
    .container {
        width: 500px;
    }
    .logo {
        display: none;
    }
    .userInfo {
        display: none;
    }
    .containerInput {
        margin-right: 20px;
    }

}
@media screen and (max-width: 550px) {
    .container {
        width: 500px;
        justify-content: space-between;
    }
    .containerInput {
        width: 400px;
        margin-right: 0;
    }
}
@media screen and (max-width: 515px) {
    .container {
        width: 400px;
        justify-content: space-between;
    }
    .containerInput {
        width: 300px;
        margin-right: 0;
    }
}
@media screen and (max-width: 450px) {
    .container {
        width: 300px;
        justify-content: space-between;
    }
    .containerInput {
        width: 250px;
        margin-right: 0;
    }
}