.userAvatar {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.userInfo {
    display: flex;
    flex-direction: row;
}
.userNickname {
    font-size: 36px;
    font-weight: 100;
    margin-right: 10px;
    word-break: break-word;
}
.statistics {
    width: 30%;
    border: 1px solid #026670;
    padding: 10px;
    border-radius: 20px;
    margin-right: 30px;
    height: 140px;
}
.statistics a{
    color: #000;
}
.statisticsText {
    font-family: Girloy-light;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 15px;
}
.userBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.statisticsNumb {
    font-family: Girloy-bold;
}
.inpContainer {
    width: auto;
}
.userDetailedInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.txtArContainer {
    width: 100%;
}
.aboutMe {
    font-size: 18px;
    margin-bottom: 15px;
}
.empty {
    font-family: Girloy-light;
    font-size: 20px;
    color: grey;
    height: 100%;
}
.descrContainer {
    padding-top: 10px;
    width: 100%;
}
.userAvatarChange {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    cursor: pointer;
}
.fileInp {
    display: none;
}
.userAvatarChange {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;  
}
.mistake {
    color: red;
    display: none;
}
.description {
    font-family: Girloy-light;
    line-height: 20px;
    max-width: 680px;
    overflow-x: hidden;
    word-break: break-word;
}
.btnCont {
    display: flex;
    flex-direction: row;
    width: 420px;
    justify-content: space-between;
}
.banUserMessage {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

@media screen and (max-width: 1150px) {
    .userBlock {
        width: 700px;
    }
    .descrContainer {
        width: 500px;
    }
}
@media screen and (max-width: 1100px) {
    .banUserMessage {
        width: 800px;
    }
}
@media screen and (max-width: 1050px) {
    .userBlock {
        width: 600px;
    }
    .descrContainer {
        width: 400px;
    }
    .inpContainer {
        margin-right: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .banUserMessage {
        width: 700px;
    }
}
@media screen and (max-width: 950px) {
    .userBlock {
        width: 500px;
    }

    .userDetailedInfo {
        flex-direction: column;
    }
    .statistics {
        margin-bottom: 50px;
    }
    .btnCont {
        flex-direction: column;
        height: 90px;
    }
    .inpContainer {
        width: 550px;
    }
}
@media screen and (max-width: 900px) {
    .banUserMessage {
        width: 600px;
    }
}
@media screen and (max-width: 850px) {
    .userBlock {
        width: 375px;
    }
}
@media screen and (max-width: 800px) {
    .banUserMessage {
        width: 500px;
    }
}
@media screen and (max-width: 700px) {
    .banUserMessage {
        width: 580px;
    }
}
@media screen and (max-width: 600px) {
    .banUserMessage {
        width: 500px;
    }
}
@media screen and (max-width: 550px) {
    .userNickname {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 30px;
    }
    .userAvatar, .userAvatarChange {
        width: 75px;
        height: 75px;
    }
    .userBlock {
        width: 325px;
    }
    .descrContainer {
        width: 400px;
    }
    .userBlock {
        flex-direction: column;
        padding-top: 20px;
        width: 300px;
    }
    .inpContainer {
        width: 250px;
        margin-bottom: 30px;
    }
    .btnCont {
        flex-direction: row;
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .btnCont {
        justify-content: space-around;
        width: 410px;
    }
    .banUserMessage {
        font-size: 25px;
        width: 400px;
        text-align: center;
    }
}
@media screen and (max-width: 465px) {
    .btnCont {
        flex-direction: column;
        height: 90px;
    }
}
@media screen and (max-width: 450px) {
    .descrContainer {
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .banUserMessage {
        font-size: 20px;
        width: 300px;
    }
}
@media screen and (max-width: 375px) {
    .userBlock {
        width: 250px;
    }
    .descrContainer {
        width: 300px;
    }
    .inpContainer {
        width: 200px;
    }
}
@media screen and (max-width: 350px) {
    .userBlock {
        width: 200px;
    }
    .descrContainer {
        width: 275px;
    }
    .btnCont {
        margin-left: 40px;
    }
}
