.form{
    position: fixed;
    width: 220px;
    height: 150px;
    align-items: center;
    z-index: 10;
    background: #FCE181;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    left:40%;
    top:40%;
}

