.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
}
.header{
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block; 
    margin-right: 10px
}
.questions {
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px solid #000;
    width: 70%;
    padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .questions {
        border-left: none;
        padding-left: 10px;
    }
    .header{
        display: block;
        margin-bottom: 10px;
    }
}