.userImg {
    display: block;
    height: 60px;
    width: 60px;
    margin-right: 5px;

}
.user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 200ms;
    padding: 10px;
    border-radius: 10px;
}
.user:hover {
    background-color: rgb(208, 208, 208);
}
.userNickname {
    
    margin-bottom: 5px;
}
.score {
    font-family: Girloy-light;
}
.rang {
    margin-top: 5px;
    font-family: Girloy-light;
}