#fileInput {
    display: none;
}
.labelInp {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    background-color: #9FEDD7;
    border: 2px dashed #026670;
    transition: 200ms;
    cursor: pointer;
}
.labelInp:hover {
    background-color: #026670;
    color: white;
    border: 2px dashed #9FEDD7;
}
.labelInpAct {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    background-color: #026670;
    color: white;
    border: 2px dashed #9FEDD7;
}

.text{
    padding: 0;
    margin: 0;
    line-height: 25px;
}
.text2{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Girloy-light;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.imgs{
    width: 100px;
}

.label_error{
    color: red;
}

.knopkaDel{
    display: inline-block;
    float: left;
    content:url("../../../../assets/pictures/sprites/delete.png");
    width: 50px;
    cursor: pointer;
}
.knopkaDel:hover{
    content: url("../../../../assets/pictures/sprites/deleteA.png");
}