.burgerContainer{
    width: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.burgerClose,
.burgerClose::before, 
.burgerClose::after{
   display: block;
   background-color: rgb(255, 255, 255);
   position: absolute;
   height: 4px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
}
.burgerClose::before {
    content: '';
    margin-top: -8px;
}

.burgerClose::after {
    content: '';
    margin-top: 8px;
}
.burgerOpen, 
.burgerOpen::after {
    display: block;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-top: 0px;
    transform: rotate(405deg);
}
.burgerOpen::after {
    content: '';
    transform: rotate(450deg);
}
.burgerContent {
    display: none;
    position: fixed;
    width:100%; /*что бы верстка не складывалась по ширине*/
    left: 0;
    height: 100vh;
    top: 60px;
    background-color: #222;
    padding-top: 80px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    user-select: none;
    animation: burgerShow 0.7s;
    z-index: 3;
    justify-content: center;
}
.burgerContent__item {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    transition: 200ms;
    cursor: pointer;
    min-height: 18px;
}
.burgerContent__itemActive {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    transition: 200ms;
    cursor: pointer;
    min-height: 18px;
}
.burgerContent__item a {
    color: rgb(255, 255, 255);
}
.burgerContent__itemActive a{
    color: #026670;
} 


@keyframes burgerShow {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}