.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
}
.navigate {
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: left;
    /*margin-bottom: 50px;*/
}
.users {
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px solid #000;
}
.header {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}
.noUsers {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
@media screen and (max-width: 1100px) {
    .noUsers {
        width: 800px;
    }
}
@media screen and (max-width: 1000px) {
    .noUsers {
        width: 700px;
    }
}
@media screen and (max-width: 900px) {
    .noUsers {
        width: 600px;
    }
}
@media screen and (max-width: 800px) {
    .noUsers {
        width: 500px;
    }
}
@media screen and (max-width: 700px) {
    .users {
        border-left: none;
        padding-left: 10px;
    }
    .navigate {
        flex-direction: column;
    }
    .header{
        margin-bottom: 10px;
    }
    .noUsers {
        width: 580px;
    }
}
@media screen and (max-width: 600px) {
    .noUsers {
        width: 500px;
    }
}
@media screen and (max-width: 500px) {
    .noUsers {
        font-size: 25px;
        width: 400px;
    }
}
@media screen and (max-width: 400px) {
    .noUsers {
        font-size: 20px;
        width: 280px;
    }
}

